<!DOCTYPE html>
<html>
<head>
    <title>Create Complaint</title>
    <link rel="stylesheet" href="C:/Users/minxuan/tecwatch/tecwatch/src/App.css">
    
</head>
    
<body>
<center>
    <h1>Create Complaint</h1>
    <form action = "/singhealth/create/" method="POST" id = "complaintForm" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        
            {{ form.as_table }}
        
        </table>
        <button type="submit" name="userId" value={{staff.username}} form="complaintForm">Submit Complaint</button>  
    
    
    </form>
    
    
    
    
</center>
    
    
    
</body>
</html>