<!DOCTYPE html>
<html>
<head>
    <title>Staff Homepage</title>
    <link rel="stylesheet" href="C:/Users/minxuan/tecwatch/tecwatch/src/App.css">
    
</head>
    
<body>
<center>
    <button type="button"><a href="/singhealth/login">Log Out</a></button>
    <br><br>
    <h1>Welcome {{staff.name}}!</h1><br>
    <h2>You can create a new complaint or view all complaints you have made</h2><br><br>
    
    <form action = "/singhealth/create/" method="POST" id = "idForm" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="staffId" value={{staff.username}} form="idForm">Create a new complaint</button>
    </form>
    
    <br><br><br>
    
    <h2>All Tenants:</h2><br>
    
    {% for t in tenants %}
    Name: {{t.name}}<br>
    Outlet: {{t.outlet}}<br> 
    <form action = "/singhealth/viewtenant/" method="POST" id="viewTenantForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="staffId" value={{staff.username}} form="viewTenantForm"/>
        <button type="submit" name="tenantId" value={{t.username}} form="viewTenantForm">View related complaints</button>        
    </form> <br><br>
    
    {% empty %}
    There are no tenants registered
    
    
    <br> <br>
    {% endfor %}
    <hr>
    
    <h2>Your complaints:</h2>
    
    <p>
        
                {% for com in complaints %}
                Complaint id: {{com.id}}<br>
                Tenant Involved: {{com.tenant.name}} <br>
                Subject: {{com.subject}} <br>
                Status: {{com.status}} <br>  
                
                <form action = "/singhealth/viewcomplaint/" method="POST" id="viewComplaintForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="identity" value="staff" form="viewComplaintForm"/>
                <button type="submit" name="complaintId" value={{com.id}} form="viewComplaintForm">View more details</button>        
                </form> <br><br>
        
                <hr>
    
                {% empty %}
                You have not made any complaints
    
                {% endfor %}
                

    </p>
    
    
</center>
    
    
    
</body>
</html>