<!DOCTYPE html>
<html>
<head>
    <title>Upload Rectification</title>
    <link rel="stylesheet" href="C:/Users/minxuan/tecwatch/tecwatch/src/App.css">
    
</head>
    
<body>
<center>
    
    <h2>Here are the details of the complaint lodged against you</h2>
    
    <h3>{{complaint.subject}} <br></h3>
    
    
    <p>
        
        Complaint ID: {{complaint.id}} <br>
        Tenant Involved: {{complaint.tenant.name}}<br>
        Date: {{complaint.date_created}} <br>
        Given deadline: {{complaint.deadline}} <br>
        Your score: {{complaint.score}} <br><br>
        Uploaded Picture: <br>
        <img src="{{complaint.picture.url}}" width = "200px" height="200px"> <br><br>
        Suggestions provided: {{complaint.suggestions}} <br><br><hr>
    
    </p>
    
    <h2>Upload Rectification</h2>
    
    <p>
    <form method="POST" enctype="multipart/form-data" action="/singhealth/rectify/" id="rectifyForm">
        {% csrf_token %}
        <table>
        
            {{ form.as_table }}            
            
        </table>
        <br>
        <button type="submit" name="complaintid" value={{complaint.id}} form="rectifyForm">Upload Rectification</button>     
    
    </form>  
    
    
    
    </p>

    
</center>
    
    
    
</body>
</html>