<!DOCTYPE html>
<html>
<head>
    <title>Rectification submitted successfully</title>
    <link rel="stylesheet" href="C:/Users/minxuan/tecwatch/tecwatch/src/App.css">
    
</head>
    
<body>
<center>
    <h1>Rectification is successfully submitted on {{complaint.date_created}}</h1>
    <h2>Complaint lodged: {{complaint.subject}}</h2>
    
    <p>
        Given deadline: {{complaint.deadline}} <br>
        Score: {{complaint.score}} <br>
        Uploaded Picture: <br>
        <img src="{{complaint.picture.url}}" width = "200px" height="200px"> <br>
        Suggestions: {{complaint.suggestions}} <br><hr>

    </p>
    
    <h2>Your response</h2>
    
    <p>
        Your comments: {{complaint.tenant_response}} <br>
        Uploaded Picture: <br>
        <img src="{{complaint.tenant_picture.url}}" width = "200px" height="200px"> <br>
    
    </p>
    
    <form action = "/singhealth/hometenant/" method="POST" id = "idForm" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        
            {{ form.as_table }}
        
        </table>
        <button type="submit" name="loginId" value={{complaint.tenant.username}} form="idForm">Return Home</button>  
    
    
    </form> 
    
    
</center>
    
    
    
</body>
</html>