<!DOCTYPE html>
<html>
<head>
    <title>View Complaint Details</title>
    <link rel="stylesheet" href="C:/Users/minxuan/tecwatch/tecwatch/src/App.css">
    
</head>
    
<body>
<center>
    {% if identity == "staff" %}
    
    <form action = "/singhealth/homestaff/" method="POST" id = "idForm" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="loginId" value={{complaint.staff.username}} form="idForm">Return Home</button> 
    
    </form> 
    
    {% elif identity == "tenant" %}
    <form action = "/singhealth/hometenant/" method="POST" id = "idForm" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="loginId" value={{complaint.tenant.username}} form="idForm">Return Home</button>
    </form>
    
    {% endif %}
    
    <br><br>

    
    <h1>{{ complaint.subject }} </h1>
    
    <p>
                {% if identity == "staff" %}
                Tenant Involved: {{complaint.tenant.name}} <br>
                {% endif %}
                Current Status: {{complaint.status}} <br>
                Given Deadline: {{complaint.deadline}} <br>
                Score: {{complaint.score}} <br>
                {% if identity == "staff" %}
                Notes: {{complaint.notes}} <br><br>
                {% endif %}
        
                {% for u in updates %}
                <b>Updated by: {{u.edit_name}}</b><br>
                Subject: {{u.subject}} <br>
                Date: {{u.date}}<br>
                Uploaded Photo: <br>
                <img src="{{u.photo.url}}" height = "200px" width="200px"> <br>
                Comments: {{u.comments}} <br><br>

                <hr>
                
                {% endfor %}


    </p>
    
        
    
    
    {% if complaint.status != "Resolved" %}
    
        <form action = "/singhealth/update/" method="POST" id="updateForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="identity" value={{identity}} form="updateForm"/>
        <button type="submit" name="updateid" value={{complaint.id}} form="updateForm">{{action}}</button>
        </form>
    
    
        {% if identity == "staff" %}
        
        
        <br><br>
        <form action = "/singhealth/viewcomplaint/" method="POST" id="resolveForm" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" name="resolveid" value={{complaint.id}} form="resolveForm">Resolve Complaint</button>
        </form>

        
        {% endif %}
    
    {% endif %}
     
    
    
</center>
    
    
    
</body>
</html>