body {
    background-color:#E1DFE1;
}

h1 {
    color: #fff;
    background-color: #f7ba5b;
    padding: 10%;
}




.formfield {
    color: #5961F7;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.btn-primary {
    transition-duration: 0.2s;
    background-color: #5961F7;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #5961F7;
}

#return {
    background-color: #f7ba5b;
    transition-duration: 0.2s;
}
#return:hover{
    background-color: #fff;
    color: #f7ba5b;
}
