body{
    background-color: #add8e6;
}

h1{
    color: white;
    background-color:#f7ba5b;
    padding: 40px;
    margin: 2px;
}

input{
    border-color: transparent;
}

button {
    transition-duration: 0.4s;
    background-color: #5961F7;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px #5B98F7;
}
button:hover {
    background-color: #fff;
    color: #5961F7;
}

.formfield {
    color: white;
    background-color: #5B98F7;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.btn {
    box-shadow: 5px 5px #5B98F7;
    background-color: #f7ba5b;
}
.btn:hover {
    background-color: #fff;
    color: #5B98F7;
}

.spacer {
    margin: 5%;
    padding: 10px;
}

.checklistContent {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color:#5B98F7;
    padding: 20px;
}

.returnDiv {
    margin: 10px;
}
