body {
    background-color: #E1DFE1;
}

h1 {
    color: #fff;
    background-color: #f7ba5b;
    padding: 10%;
}

h2{
    margin: 5%;
    color:#5961F7;
}

.btn-primary {
    transition-duration: 0.2s;
    background-color: #5961F7;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #5961F7;
}

#return {
    background-color: #f7ba5b;
    transition-duration: 0.2s;
}
#return:hover{
    background-color: #fff;
    color: #f7ba5b;
}

#idform{
    background-color: transparent;
    margin:0px;
    padding: 0px;
}

form {
    background-color: #F5F5F5;
    margin-left: 15%;
    margin-right:15%;
    margin-top:10px;
    margin-bottom: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px #D3D3D3;
}

