<!DOCTYPE html>


<head>
    <title>{{ tenant.username }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel='stylesheet' href="./assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card" style="width: 750px;">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1>{{ tenant.username }} </h1>
                                <h2>Audit History: </h2>
                                <hr />
                            </div>
                            
                            <div class="col-12 text-center">
                                <form action="/checklist/audit/" method="GET" id="makeauditForm"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" form="makeauditForm" name="tenantId" value={{tenant.username}}>New Audit</button> <br><br>
                                </form>
                            </div>
                            <div class="col-12 text-center">
                                <form action="/notification/send_email/" method="POST" id="makeEmailForm"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" name="tenantId" value={{tenant.username}} form="makeEmailForm">Export to email</button> <br><br>
                                </form>
                            </div>
                            <div  class="row">

                            <div class="col-12 text-center">
                                <p>
                                    
                                    {% for a in audits %}
                                    <strong>Date of Audit:</strong> {{a.date_created}}<br>
                                    <strong>Tenant Involved:</strong> {{a.tenant.username}} <br>
                                    <strong>Satisfactory Fields: </strong>{{a.checked}} <br>
                                    <strong>Unsatisfactory Fields: </strong>{{a.unchecked}} <br>
                                    <strong>Total Score:</strong> {{a.score}} <br>
                                    
                                    <form name="export_to_excel" method="POST" action="{% url 'export-excel' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name='auditId' value={{a.id}}/>     
                                        <input type="submit" value= 'Export Excel' />
                                    </form>
                                    

                                    
                                    
                                    
                                    <br><br>

                                <hr>

                                {% empty %}
                                {{tenant.username}} has no audits
                                {% endfor %}

                                </p>
                            </div>
                            <div class="col-12 text-center">
                                <form action="/singhealth/homestaff/" method="POST" id="idForm"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button type="submit" name='return' class="btn btn-primary" form="idForm">Return Home</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>