<!DOCTYPE html>
<html>
<head>
    <title>{{action}} submitted successfully</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel='stylesheet' href="./assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card" style="width: 750px;">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1>{{action}} of complaint is successful! You may return to the home page</h1>
                                <hr/>
                            </div>
                            <div class="col-12 text-center">
                                {% if identity == "staff" %}
                                <form action = "/singhealth/homestaff/" method="POST" id = "idForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" name="loginId" value={{userId}} form="idForm">Return Home</button>  
                                </form> 
                                
                                {% elif identity == "tenant" %}
                                <form action = "/singhealth/hometenant/" method="POST" id = "idForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" name="loginId" value={{userId}} form="idForm">Return Home</button>  
                                </form> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>