body {
    background-color: #E1DFE1;
}

th {
    text-align: left;
}

td {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.btn-primary {
    transition-duration: 0.2s;
    background-color: #5961F7;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #5961F7;
}
.btn-primary:hover > a {color: #5961F7 !important;}

.pastdetails {
    background-color: #F5F5F5;
    margin-top:10px;
    margin-bottom: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px #D3D3D3;
}

#complaintdiv {
    background-color: #F5F5F5;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px #D3D3D3;
}

#returnbutton {
    background-color: #FFBD44;
}
#returnbutton:hover{
    color:#FFBD44;
    background-color: #fff;
    border-color: #FFBD44;
}
#returnbutton:hover > a {color: #FFBD44 !important;}
